{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        },
      },
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "test": {
      "presets": ["latest", "react", "stage-0"]
    }
  }
}
