{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["jest", "flowtype"],
  "env": {
    "jest/globals": true
  },
  "globals": {
    "HTMLElement": true,
    "React$Element": true,
    "THEME": true,
  }
}
